div>div.fader{
	right: 20px;
	cursor: text;
	top: 0px;
}
.fieldBox{
	border: 1px solid #bbbbbb;
	position:relative;
}
div.galleryField input{
	border: none;
    box-shadow: none;
    outline: none;
    color: #222222;
    height: 18px;
    padding: 0;
    width:100%;
    margin:0px;
}
.galleryField.hasImage{
	height: 112px;
	position: relative;
}
div.inputContainer{
	margin: 0px 20px 0px 4px;
	padding: 0px;
}
div.galleryField input:focus{
	box-shadow: none;
    outline: none;
}
.opener{
	position: absolute;
	right: 3px;
	top: 1px;
}
.resourceInfo{
	margin:3px 0px 0px 0px;
	min-height: 40px;
}

.hasImage .fieldBox{
	margin-left: 170px;
}

.hasImage .resourceInfo > div{
	left: 170px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

div.imagePreview {
	border: 1px solid #bbbbbb;
	width: auto;
	text-align: center;
	float: left;
	display: none;
	overflow: hidden;
}
div.imagePreview > div{
	height: 110px;
	width: 165px;
	background: white;
	text-align: center;
}
div.imagePreview img {
	margin: auto;
}

.hasImage div.imagePreview {
	display: block;	
}