@sprite body.standAloneEditor{
	gwt-image: "backgrounds.sitemapBackground";
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
}

@url editCursorGifUrl coreImages.editCursorGif;
@url editCursorIcoUrl coreImages.editCursorIco;

.inlineEditable, .inlineEditable:hover, .inlineEditable:focus{
	cursor: editCursorIcoUrl, editCursorGifUrl, crosshair;
	outline: none;
}

body.standAloneEditor div.basePanel{
	background-image: none;
}

body.integratedEditor{
	overflow: hidden !important;
}

.basePanel *, .basePanel table tr td{
	margin: 0;
	padding: 0;
	border: none;
	color: value("constants.css.textColor");
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	line-height: value("constants.css.lineHeight");
	background: transparent;
	text-align: left;
	height: auto;
	width: auto;
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
}

@sprite .basePanel{
	gwt-image: "backgrounds.sitemapBackground";
	font-family: value("constants.css.fontFamily");
	font-size: value("constants.css.fontSize");
	position: fixed;
	margin: 0;
	bottom: 0;
    overflow-y: scroll;
    top: 35px;
	padding: 20px 0px 0px 0px;
	left:0;
	right:0;
	z-index: value("constants.css.zIndexPopup");
}

.contentPanel{
	padding: 2px 2px 0px;
	position: relative;
	width: value("constants.css.toolbarWidth");
	margin: 10px auto;
	background-color: value("constants.css.backgroundColorDialog");
	border: 2px solid value("constants.css.borderColor");
	border-radius: value("constants.css.borderRadius");
}

div.basePanel > div{
	padding-left:2px;
	padding-right: 2px;
}