.attributeValue, .dragHelper, .emptyValue, .entity, .label, .widgetHolder{}

.widget > .galleryField .fieldBox{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	display: block;
	width: auto;
	padding: 0px;
	height: 18px;
	font-size: 12px;
}
.hasError .widget > .galleryField .fieldBox{
	border-color: value("constants.css.borderColorHighlight");
}
.hasWarning .widget > .galleryField .fieldBox{
	border-color: #FFAA00;
}

.inActive .widget > .galleryField .fieldBox{
	border-color: #B1B4B8;
}
.widget > .galleryField	input{
	font-family: value("constants.css.fontFamily");
	border-radius: value("constants.css.borderRadius");
	color: value("constants.css.textColor");
	height: 18px;
	font-size: 12px;
	outline:none;
}
	
.widget .resourceInfo > div, .widget div.imagePreview{
	border: 1px solid #7788AA;
}
.widget .hasError div.imagePreview{
	display: none;
}
@if user.agent ie6 ie8 {
	.resourceInfo > div > div:first-child{
		background-color: value("constants.css.gradientFormDialogColor");
	}
} @elif user.agent gecko gecko1_8 {
	.resourceInfo > div > div:first-child{
		background-image: literal("-moz-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	}
} @elif user.agent safari {
	.resourceInfo > div > div:first-child{
		background-image: literal("-webkit-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	}
} @elif user.agent opera {
	.resourceInfo > div > div:first-child{
		background-image: literal("-o-linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	}
} @elif user.agent ie9 {
	.resourceInfo > div > div:first-child{
		background-image: value("constants.css.gradientFormDialogIE9");
	}
} @else {
	.resourceInfo > div > div:first-child{
		background-image: literal("linear-gradient(")value("constants.css.gradientFormDialog") literal(")");
	}
}