@external html-face, textboxGhostMode, scrollContainer, popupContent, gwt-ToggleButton, cmsState-up-disabled, cmsState-down-disabled, cmsState-up, cmsState-up-hovering, cmsState-down-hovering, cmsState-down, cmsState-up-disabled, cmsState-down-disabled;

.radioButtonPanel {
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
    border-radius: value("constants.css.borderRadius");
    border: 1px solid #7788AA /*value("constants.css.borderColor")*/;
    display: block;
    vertical-alignment: middle;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-top: 3px;
}

.selectBoxPanel{
	display: block;
	width: auto;
}

.emptyValue .openerNoHover div.selectBoxSelected{
	border: 1px solid value("constants.css.borderColor");
	color: value("constants.css.borderColor");
	font-style: italic;
}

.categoryPanel {
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
}

.categoryPanel:hover {
	cursor: pointer;	
}

.selectBoxPopup {
	border: 1px solid #7788AA !important /*value("constants.css.borderColor")*/;
}


textarea.textAreaBox {
	background: none repeat scroll 0 0 transparent;
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	width: 99%;
	border: none;
	resize: none;
	overflow: hidden;
	font-family: value("constants.css.fontFamily");
	padding: 3px 0 0 3px;
	outline:none;
}

div.textAreaBoxPanel{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
}

div.vfsInputBox{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	display: block;
	width: auto;
	padding: 0px 4px;
	height: 18px;
	font-size: 12px;
}
div.vfsInputBox input{
	border: none;
	font-family: value("constants.css.fontFamily");
	border-radius: value("constants.css.borderRadius");
	color: value("constants.css.textColor");
	width: 98%;
	height: 18px;
	font-size: 12px;
	box-shadow: none;
	padding: 0px 0px;
	outline:none;
}

input.textBox{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	font-family: value("constants.css.fontFamily");
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	width: 100%;
	padding: 0px 4px;
	margin: 0px;
	line-height: value("constants.css.lineHeight");
	height: 18px;
	font-size: value("constants.css.fontSize");
	outline:none;
	display: inline;
	vertical-align: baseline;
}


.passwordTextBox{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	width: auto;
	padding: 0px 4px;
}

.passwordTextBox input{
	border: none;
	font-family: value("constants.css.fontFamily");
	display: block;
	color: value("constants.css.textColor");
	box-shadow: none;
	height: 18px;
	font-size: 12px;
	width:100%;
	padding: 0;
	outline:none;
}

.calendarStyle input {
	box-shadow: none;
	color: value("constants.css.textColor");
	font-size: 12px;
	padding-top:2px;
	font-style:normal;
	outline: none;
}
div.calendarStyle input.textboxGhostMode{
	color: #7788AA;
	font-style:normal;
	outline: none;
}


div.calendarStyle {
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
	border-radius: value("constants.css.borderRadius");
	font-family: value("constants.css.fontFamily");
	display: block;
	width: auto;
	padding: 0px 4px;
	height: 18px;
}

.inActive div.calendarStyle, .passwordTextBox.inActive  {
	border: 1px solid value("constants.css.borderColor");
}

input.displayTextBox{
	background: none repeat scroll 0 0 transparent;
	height: 18px;
	display: block;
	color: #7788AA;
	box-shadow: none;
	width: 100%;
	border: medium none;
}

input.displayTextBox:disabled{
	background: none repeat scroll 0 0 transparent;
	height: 18px;
	display: block;
	color: value("constants.css.textColorDisabled");
	box-shadow: none;
	width: 100%;
}

div.displayTextBoxPanel{
	border: 1px solid #7788AA;
	background: none repeat scroll 0 0 transparent;
}

input.comboBoxInput {
    border: medium none;
    box-shadow: none;
    color: value("constants.css.textColor");
    display: block;
    height: 16px;
    width: 97.6%;
    font-size: 12px;
    padding-top: 1px;
    outline:none;
}

.radioButtonlabel,
.checkboxlabel {
	display: block;
}

.radioButtonlabel.cmsState-up,
.checkboxlabel .cmsState-up {
  	color: #7788AA;
  	display: block;
}
div.checkboxlabel .cmsState-up-disabled,
div.checkboxlabel .cmsState-down-disabled,
div.radioButtonlabel.cmsState-up-disabled,
div.radioButtonlabel.cmsState-down-disabled{
  	display: block;
}

.radioButtonlabel.cmsState-down , .radioButtonlabel.cmsState-down-hovering, 
.checkboxlabel .cmsState-down, .checkboxlabel .cmsState-down-hovering{
  	color: #000000;
  	display: block;
}
.radioButtonlabel.cmsState-up-hovering, 
.checkboxlabel .cmsState-up-hovering{
	color: #445577;
  	display: block;
}

.radioButtonlabel div.html-face,
.checkboxlabel div.html-face{
	text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-weight: normal;
  	font-size: 12px ;
}

/** Colorpicker styles*/

.colorPickerValue {
	background: none repeat scroll 0 0 white;
    border: 1px solid #7788AA;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 17px;
    margin-left: 105px;
    padding: 1px 4px 0;
    position: relative;
    width: auto;	
}

.colorPickerValue input{
	background-color: #FFFFFF;
    border: none;
    box-shadow: none;
    color: #222222;
    display: block;
    font-size: 12px;
    height: 16px;
    padding: 0;
    width: 100%;
    outline:none;
}

div.colorPicker{
	border: 1px solid #7788AA;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 18px;
    position: relative;
    float: left;
    width: 100px;
}

.inActive .colorPickerValue{
    border: 1px solid value("constants.css.borderColor");
}
.inActive div.colorPicker {
	border: 1px solid value("constants.css.borderColor");
}


/** Checkbox styles*/

.checkBoxStyle.inActive div.label{
	color: #000000;
}
.checkBoxStyle:hover.inActive div.label{
	color: #000000;
}

.checkBoxStyle:hover div.label {
	color: #445577;
}

.checkBoxStyle div.label{
		margin: 4px 3px 2px 20px;
}
.checkBoxStyle .widget{
	position: absolute;
}


/** The "empty value" parameters. */


.emptyValue .radioButtonPanel {
	border: 1px solid value("constants.css.borderColor");
}

.emptyValue div.displayTextBoxPanel{
	border: 1px solid value("constants.css.borderColor");
	background: none repeat scroll 0 0 transparent;
}
.emptyValue div.textAreaBoxPanel , .emptyValue .categoryPanel, .emptyValue input.textBox, .emptyValue div.vfsInputBox{
	border: 1px solid value("constants.css.borderColor");
}


/** The "has error" parameters. */

.hasError div.selectBoxSelected, .hasError .radioButtonPanel, .hasError.inputField, .hasError div.textAreaBoxPanel, .hasError input.textBox, .hasError div.calendarStyle, .hasError input.passwordTextBox, .hasError .colorPickerValue, .hasError .colorPicker, .hasError .vfsInputBox{
	border: 1px solid value("constants.css.borderColorHighlight");
}

/** The "has warning" parameters. */

.hasWarning div.selectBoxSelected, .hasWarning .radioButtonPanel, .hasWarning.inputField, .hasWarning div.textAreaBoxPanel, .hasWarning input.textBox, .hasWarning div.calendarStyle, .hasWarning input.passwordTextBox, .hasWarning .colorPickerValue, .hasWarning .colorPicker, .hasWarning .vfsInputBox {
	border: 1px solid #FFAA00;
}



/** The entity parameters. */


.entity .checkBoxStyle .widget{
	top: 9px;
}
.entity .entity .checkBoxStyle .widget{
	top: 10px;
}

.entity .entity .entity .checkBoxStyle .widget{
	top: 8px;
}

.entity .entity .entity .entity .checkBoxStyle .widget{
	top: 7px;
}

/** The "drag helper" parameters. */
.dragHelper .checkBoxStyle .label{
	margin: 4px 3px 2px 20px;
}
.dragHelper .checkBoxStyle .widget{
	position: absolute;
	top: 5px;
}

.dragHelper .radioButtonPanel {
	background: none repeat scroll 0 0 value("constants.css.backgroundColorDialog");
    border-radius: value("constants.css.borderRadius");
    border: 1px solid #7788AA /*value("constants.css.borderColor")*/;
    display: block;
    vertical-alignment: middle;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;
}

.scrollContainer table{
	width: 100%
}
.scrollContainer td{
	border:1px solid #000;
	overflow:hidden; 
}
	
.emptyValue{}

.inputField{}

.hasError{}

.hasWarning{}

.label{}

.inActive{}

.widgetHolder{}

.entity{}

.attributeValue{}

.floatDecoratedPanel{}
.primary{}
.floatBox{}
.decorationBox{}
.decorationBoxSmall{}
.openerNoHover, .openerHover{}
